# Project exclude paths
/.gradle/
**/build
local.properties

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/artifacts
.idea/modules.xml
.idea/misc.xml

*.sessions
**/reference.conf